@{
    ViewBag.Title = "About the ADAL Publishing Pipeline";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the one-click site to publishing an SDK for ADAL.</p>
<p>
    Complete the ADAL Publishing Form by uploading the markdown<br />
    for your SDK and completing all necessary fields, such as Author name, <br/>
    version number (v0.00.00), and a name for the release. <br/>
    <br/>
    The submission form will go to your manager for approval or rejection
</p>
