@model AdalPipeline.Models.Request

@{
    ViewBag.Title = "CreateRequest";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}
<h2>@Html.LabelForModel()</h2>

@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post, new { @class = "requestClass", data_formType = "request" }))
{
    <div class="column">
        @Html.EditorForModel()
    </div>
    
    <input type="submit" value="Submit" />
}

<!--<div>
    <form method="post" enctype="multipart/form-data">
        <label for="ReleaseNotes">Upload release notes:</label>
        <input type="file" id="ReleaseNotes" name="ReleaseNotes" />
    </form>
</div>
<br />-->