@using System.Activities.Statements
@using System.Web.UI.WebControls
@using AdalPipeline.Controllers
@model AdalPipeline.Models.Request

@{
    ViewBag.Title = "Submission completed";

}

<h4>Your release has been submitted for review</h4>
<p>Author name:<b>@Html.DisplayFor(m => m.AuthorName)</b></p>
<p>Release title:<b>@Html.DisplayFor(m => m.ReleaseTitle)</b></p>
<p>Release version number:<b>@Html.DisplayFor(m => m.ReleaseVersion)</b></p>
<p>Release notes:<b>@Html.Raw("<pre>" + Html.Encode(Model.ReleaseNotes) + "</pre>")</b></p>


<p>If the following is correct, please click the "submit" button below</p>
<br />
<button type="submit">Submit your release for approval</button>