@using System.Activities.Statements
@using System.Web.UI.WebControls
@using AdalPipeline.Controllers
@model AdalPipeline.Models.Request

@{
    ViewBag.Title = "Approve Release";

}

@using (Html.BeginForm("Completed", "Home"))
{
    <br/>
    <p>Release title:<b>@Html.DisplayFor(m => m.ReleaseTitle)</b></p>
    <p>Release version number:<b>@Html.DisplayFor(m => m.ReleaseVersion)</b></p>
    <p>Release notes:<b>@Html.DisplayFor(m => m.ReleaseNotes)</b></p>
    <p>If the following is correct, please click the "submit" button below</p><br/>
    <input type="submit" value="Click here to submit release for approval"/>
}

